*
{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing:border-box ;
}
a{
    text-decoration: none;

}
ul{
    list-style: none;

}
body
{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}
#blogs
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    left: 40px;
    border-bottom: 1px solid rgba(0, 0,0, 0.05);
}
.blog-heading
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blog-heading span{
    color: #f33c3c;
}
.blog-heading h3{
    font-size: 2.4rem;
    color: #2b2b2b;
    font-weight: 600;
}
.blog-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
    left: 40px;
}
.blog-box
{
    width: 350px;
    background-color: #ffffff;
left: 40px;
    border: 1px solid #ececec;
    margin: 20px;
}
.blog-img
{
    width: 100%;
    height: auto;
}
.blog-img img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.blog-text
{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-text span{
    color:#f33c3c;
    font-size: 0.9rem ;
}
.blog-text .blog-title
{
    font-size: 1.3rem;
    font-weight: 500;
    color: #2b2b2b;
}
.blog-text .blog-title:hover
{
    color: #f33c3c;
    transition: 0.3s;
}
.blog-text p{
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.blog-text a{
    color: #2b2b2b;

}
.blog-text a:hover
{
    color: #f33c3c;
    transition: 0.3s;
}















.navigation-bar
{
    width: 270px;
    background;
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    border-right: 1px solid #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.navigation-bar .logo
{
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform:capitalize ;

}
.navigation-bar .logo a
{
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
}
.navigation-bar .logo a span
{
    font-family: 'Cursive Script', cursive;
    font-size: 40px;
}
.navigation-bar .nav-toggler
{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: absolute;
    left: 350px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.navigation-bar .nav-toggler span{
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
}
.navigation-bar .nav{
    margin-top: 50px;
}
.navigation-bar .nav li
{
    margin-bottom: 20px;
    display: block;
}
.navigation-bar .nav li a
{
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;

}
.navigation-bar .nav li a.active
{
    color: var(--skin-color);
}
.navigation-bar .nav li i
{
    margin-right:15px ;
}