@media(max-width:600px)
{
.navigation-bar{
   background: var(--bg-black-50);
    


}
.section
{
    margin-left: -270px;
}
.btn
{
    margin-top: 350px;
}
.home-info
{
    margin-top: 20px;
}
.home-img
{
    margin-top: -40px;
}
.pic
{
    box-shadow: 2px 4px 8px rgba(0, 0 ,0, 0.1);
    border-radius: 20px;
}
.nav-toggler
{
    margin-left: -20px;
}
}